<div class="container">
  <div>
    <h1>Company history</h1>
    <p>VeloFreedom.com was founded in Moscow in 2004. During our work, more than 60,000 people have become our satisfied
      customers. Today "VeloFreedom.com" is a company with an established team of professionals with significant practical
      experience and developing in the following areas: sale of bicycles, accessories, spare parts, as well as maintenance and repair.</p>
  </div>

  <div class="row">
    <div class="line-dark-white"></div>
    <div class="col-sm">
      <h2>The purpose and objectives of the company</h2>
      <p>
        We achieve the most important goal of our business policy, which is to fully satisfy the interests and needs of
        customers. VeloFreedom.com has established itself as a reliable and strong partner with stable partnerships with the world's leading brands.
      </p>
      <p>
        <span>During its work on the market, "VeloFreedom.com" has become one of the most famous bicycle shops in the World!</span>
        TheCompany's plans for the future include expanding the range of products and the list of services provided,
        improving the quality of customer service and maintaining leadership in the Global World bicycle market.
      </p>
    </div>
    <div class="col-sm">
      <img src="/assets/images/about.jpg" class="about-img">
    </div>
  </div>
  <div class="line-white-dark"></div>

  <div class="row">
    <div class="col-sm">
      <h2>About slogan</h2>
      <h1>"FAVORABLE AND SIMPLE"</h1>
      <p>
        We offer bicycles profitably and simply. <span>FAVORABLE</span>  - this is not only low prices for bicycles, but also savings
        on the purchase of accessories, spare parts, as well as on maintenance and repair.
      </p>
      <p>
        We try to provide the client with a full range of services and are ready to offer the best conditions, including
        after-sales service. In addition, by buying a bike from a client, you get the opportunity to purchase motorcycles or snowboard goods at a discount!
      </p>
      <p>
        <span>SIMPLE</span> - this is an opportunity to select and compare products in detail already on the site (without coming to
        the trading floor, including choosing a frame size from those available, as well as watching videos and 3D photos
        on our site), this is an opportunity to pay in various ways, in including pay for the goods upon receipt even in the region of the World!
      </p>
    </div>
    <div class="col-sm">
      <h2>About logo</h2>
      <p>
        Our logo symbolizes the pursuit of a healthy lifestyle. Our bicycles have a green light both on city streets and on forest paths.
      </p>
      <p>
        The soothing blue color emphasizes the great attention to the quality of the bike assembly, which makes them
        reliable friends of athletes, tourists and ordinary riders. You can always rely on them, they will take you anywhere in the world.
      </p>
      <p>
        A wide range of products is embodied in the inscription "VeloFreedom.com", enclosed in a rectangle with rounded corners.
        The streamlined shape of our logo is not accidental, it symbolizes the rapid movement of a person towards the ideal.
        The ideal of form and color, the well-coordinated work of mechanisms and the clear response of equipment are the
        priority components of our products - the components that form a single whole, the basis of the logo.
      </p>
    </div>
  </div>
</div>
