p {
  color: #777;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
}

h1 {
  color: #606060;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  color: #5660a5;
  font-size: 18px;
  margin-top: 5px;
}

span {
  color: #5abd32;
  font-weight: 700;
}

.about-img {
  width: 90%;
  max-width: 480px;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line-dark-white {
  height: 10px;
  background: linear-gradient(darkgrey, white);
}

.line-white-dark {
  height: 10px;
  background: linear-gradient(white, darkgrey);
}
