<div class="container">
  <h1>Return and exchange</h1>
  <p>
    We return and exchange goods in accordance with consumer protection law. In disputable situations, we always try to
    meet the needs of the customer!
  </p>

  <h2>Address and return date</h2>
    <div>
      <div class="img-calendar-div">
        <img src="/assets/images/for_customers_calendar.jpg" class="img-calendar">
      </div>
      <div>
        <p>
          Return and exchange of goods is carried out at the address where the goods were purchased. If the product was
          purchased via delivery, then the return is carried out in our retail store.
        </p>
        <p>
          The maximum period during which the goods can be returned to the seller is <span>14 days</span>  from the date of purchase
        </p>
        <p>
          Return and exchange is carried out on weekdays from <span>12.00 to 20.00</span>.
        </p>
      </div>
    </div>

  <div>
    <h2>Return conditions</h2>
    <div class="img-notebook-div">
      <img src="/assets/images/for_customers_notebook.jpg" style="margin: auto;">
    </div>
    <div>
      <p>
        Return of goods of <span>good quality</span> is possible if:
      </p>
      <ul style="margin-left: 100px">
        <li>no more than 14 days have passed since the purchase,</li>
        <li>there is a cash and sales receipt,</li>
        <li>The item is not included in the list of non-refundable items.</li>
      </ul>
      <div class="return-clarification-div">
        <p class="return-clarification">Cars, bicycles, scooters, motorcycles are not subject to return and exchange</p>
      </div>
      <p style="margin-left: 10px; margin-top: 10px">Return of goods of inadequate quality (malfunction or failure to fulfill their functional qualities) is possible if:</p>
      <ul>
        <li>a cash and sales receipt saved,</li>
        <li>there are no signs of improper operation or signs of mechanical impacts (bumps, dents, traces after falls), which could result in a malfunction.</li>
      </ul>
    </div>
  </div>

  <div>
    <div class="img-return-procedure-div">
      <img src="/assets/images/for_customers_Return_procedure.jpg" class="img-return-procedure">
    </div>
    <div></div>
    <h2>Return procedure</h2>
    <p>When returning goods of <span>good quality</span>, the full cost of the goods is returned to the buyer, <span>without the cost of delivery</span>.</p>
    <p>When returning goods of <span>inadequate quality</span>, the buyer is refunded <span>the full cost of the goods and the cost of delivery</span>.</p>
    <p>Cost of the goods is paid to the buyer <span>in cash</span>.</p>
  </div>
</div>


