<div class="container">
  <div class="row">
    <div *ngFor="let bicycle of bicycles" class="col-lg-2 BSAES-bar">

      <img  src="{{bicycle.imgAddr}}" class="img-fluid BSAES-image-bar">
      <div class="BSAES-title">{{bicycle.name}}</div>
      <div>
        <div *ngIf="bicycle.discount != 0">
          <del class="BSAES-crossed-price">{{bicycle.price}} r.</del>
          <em class="BSAES-discount">discount {{bicycle.discount}}%</em>
        </div>
        <div *ngIf="bicycle.discount === 0" class="BSAES-no-discount"></div>
        <div class="BSAES-price">{{(bicycle.price * (1 - bicycle.discount / 100)).toFixed(0)}} r.</div>
        <img src="assets/images/bicycle_component/buy-button.jpg" class="BSAES-buy-btn" alt="By this bicycle">
      </div>
      <hr/>

      <div>
        <ul>
          <li>
            Frame material:
            <span>{{bicycle.frameMaterial}}</span>
          </li>
          <li>
            Fork type:
            <span>{{bicycle.forkType}}</span>
          </li>
          <li>
            Number of speeds:
            <span>{{bicycle.numberOfSpeeds}}</span>
          </li>
        </ul>
      </div>

      <div class="BSAES-dop-params">
        <ul class="BSAES-dop-ul">
          <li>
            Weight:
            <span>{{bicycle.weight}}</span>
          </li>
          <li>
            Wheel diameter:
            <span>{{bicycle.wheelDiameter}}</span>
          </li>
          <li>
            Break type:
            <span>{{bicycle.breakType}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


