<!-- Top header begin -->
<div class="container">
  <div class="row header-top">
    <div class="col-sm header-top-item enter-profile" routerLink="auth">
      <div>
        <img src="/assets/images/enter-profile.jpg"
             align="left"
             class="img-fluid img-enter-profile">
      </div>
      <div>
        Enter Your profile
      </div>

    </div>
    <div class="col-sm header-top-item">
      Orders, consultations 999-999-999
    </div>
    <div class="col-sm header-top-item">
      Regions 700-888-999
    </div>
    <div class="col-lg-1 header-top-item header-top-item-link">
      SALES
    </div>
    <div [routerLink]="['/about']" class="col-lg-1 header-top-item header-top-item-link">
      About
    </div>
    <div [routerLink]="['/for_customers']" class="col-lg-2 header-top-item header-top-item-link">
      For Customers
    </div>
    <div [routerLink]="['/delivery']" class="col-lg-1 header-top-item header-top-item-link">
      Delivery
    </div>
  </div>
</div>
<!-- Top header end -->

<!-- Middle header begin -->
<div class="container">
  <div class="row header-middle">
    <div class="col-lg-2">
      <img src="/assets/images/bicycle.jpg"
           class="img-fluid img-bicycle"
           routerLink="/">
    </div>
    <div class="col-sm">
      <form action="">
        <input [(ngModel)]="searchString" name="search" type="text" placeholder="Search" size="40" class="search-input">
        <input [routerLink]="['/']"  (click)="loadBySearchString(searchString)" type="submit" value="" class="search-submit">
      </form>
    </div>

    <div class="col-lg-3">
      <div style="float: right" class="additional-links color-change">
        <p>CHECK STATUS</p>
        <p>COMPLAINTS</p>
      </div>
      <div class="additional-links color-change">
        <p>CHOSEN</p>
        <p>COMPARE</p>
      </div>
    </div>
    <div [routerLink]="['/shopping-cart']" class="col-lg-2 additional-links color-change">
      <div>
        <div style="float: left">
          <img src="/assets/images/header-shopping-cart.jpg" class="img-shopping-cart">
        </div>

        <div>
          <p style="white-space: nowrap;">Total price: {{totalPrice.toFixed(0)}}</p>
          <p style="white-space: nowrap;">Product count: {{productCount}} </p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Middle header end -->

<!-- Burger menus in bottom header begin -->
<div class="container">
  <div class="row header-bottom">
    <div class="col-sm menu">
      <li class="menu-list">
        <a class="menu-link">Bicycles</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/bicycles', 'WOMAN']" class="menu-sub-link">Woman</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'CHILDREN']" class="menu-sub-link">Children</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'ROAD']" class="menu-sub-link">Road</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'COMFORT']" class="menu-sub-link">Comfort</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'GRAVEL']" class="menu-sub-link">Gravel</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a class="menu-link">Scooters</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/scooters', 'OFFROAD']" class="menu-sub-link">Offroad</a>
          </li>
          <li>
            <a [routerLink]="['/scooters', 'CITY']" class="menu-sub-link">City</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a class="menu-link">Accessories</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/accessories', 'TRUNK']" class="menu-sub-link">Trunks</a>
          </li>
          <li>
            <a [routerLink]="['/accessories', 'PUMP']" class="menu-sub-link">Air pumps</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a class="menu-link">Equipment</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/equipments', 'HELMET']" class="menu-sub-link">Helmets</a>
          </li>
          <li>
            <a [routerLink]="['/equipments', 'BACKPACK']" class="menu-sub-link">Backpacks</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a class="menu-link">Spares</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/spares', 'SHOCK']" class="menu-sub-link">Shock absorbers</a>
          </li>
          <li>
            <a [routerLink]="['/spares', 'CARRIAGE']" class="menu-sub-link">Carriages</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</div>
<!-- Burger menus in bottom header end -->




