<!-- Top header begin -->
<div class="container">
  <div class="row header-top">
    <div class="col-sm header-top-item enter-profile" routerLink="auth">
      <div>
        <img src="/assets/images/enter-profile.jpg"
             align="left"
             class="img-fluid img-enter-profile">
      </div>
      <div>
        Enter You profile
      </div>

    </div>
    <div class="col-sm header-top-item">
      Orders, consultations 999-999-999
    </div>
    <div class="col-sm header-top-item ">
      Regions 700-888-999
    </div>
    <div class="col-lg-1 header-top-item ">
      SALES
    </div>
    <div class="col-lg-1 header-top-item ">
      About
    </div>
    <div class="col-lg-2 header-top-item ">
      For Customers
    </div>
    <div class="col-lg-1 header-top-item ">
      Delivery
    </div>
  </div>
</div>
<!-- Top header end -->

<!-- Middle header begin -->
<div class="container">
  <div class="row header-middle">
    <div class="col-lg-2">
      <img src="/assets/images/bicycle.jpg"
           class="img-fluid img-bicycle"
           routerLink="/">
    </div>
    <div class="col-sm">
      <form action="">
        <input type="text" value="Search" size="40" class="search-input">
        <input type="submit" value="" class="search-submit">
      </form>
    </div>

    <div class="col-lg-2 additional-links color-change">
      <p>CHECK STATUS</p>
      <p>COMPLAINTS</p>
    </div>
    <div class="col-lg-2 additional-links color-change">
      <p>CHOSEN</p>
      <p>COMPARE</p>
    </div>
  </div>
</div>
<!-- Middle header end -->

<!-- Burger menus in bottom header begin -->
<div class="container">
  <div class="row header-bottom">
    <div class="col-sm menu">
      <li class="menu-list">
        <a href="" class="menu-link">Bicycles</a>
        <ul class="menu-sub-list">
          <li>
            <a [routerLink]="['/bicycles', 'WOMAN']" class="menu-sub-link">Woman</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'CHILDREN']" class="menu-sub-link">Children</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'ROAD']" class="menu-sub-link">Road</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'COMFORT']" class="menu-sub-link">Comfort</a>
          </li>
          <li>
            <a [routerLink]="['/bicycles', 'GRAVEL']" class="menu-sub-link">Gravel</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a href="" class="menu-link">Scooters</a>
        <ul class="menu-sub-list">
          <li>
            <a href="" class="menu-sub-link">Scooter var №1</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Scooter var №2</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Scooter var №3</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a href="" class="menu-link">Accessories</a>
        <ul class="menu-sub-list">
          <li>
            <a href="" class="menu-sub-link">Accessories var №1</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Accessories var №2</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Accessories var №3</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a href="" class="menu-link">Equipment</a>
        <ul class="menu-sub-list">
          <li>
            <a href="" class="menu-sub-link">Equipment var №1</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Equipment var №2</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Equipment var №3</a>
          </li>
        </ul>
      </li>
    </div>
    <div class="col-sm menu">
      <li class="menu-list">
        <a href="" class="menu-link">Spares</a>
        <ul class="menu-sub-list">
          <li>
            <a href="" class="menu-sub-link">Spares var №1</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Spares var №2</a>
          </li>
          <li>
            <a href="" class="menu-sub-link">Spares var №3</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</div>
<!-- Burger menus in bottom header end -->




