<div class="container">
  <div class="row header-top">
    <div class="col-sm header-top-item btn" routerLink="auth">
      Enter you profile
    </div>
    <div class="col-sm header-top-item btn">
      Orders, consultations 999-999-999
    </div>
    <div class="col-sm header-top-item btn">
      Regions 700-888-999
    </div>
    <div class="col-sm header-top-item btn">
      SALES
    </div>
    <div class="col-sm header-top-item btn">
      About
    </div>
  </div>
</div>

<div class="container">
  <div class="header-middle">
    <img src="/assets/images/bicycle.jpg" class="img-fluid img-bicycle">
    <form action="">
      <input type="text" value="Search" style="font-family: Arial, Helvetica, sans-serif' ">
      <input type="submit" value="" class="search-submit">
    </form>
  </div>


</div>




