<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <img src="/assets/images/promo.jpg" class="img-fluid">
    </div>

    <div class="col-sm search">

      <form>
        <select [(ngModel)]="filters.productGroup" (change)="loadProductTypes()" name="Bicycles" class="form-select">
          <option value="BICYCLES">Bicycles</option>
          <option value="SCOOTERS">Scooters</option>
          <option value="ACCESSORIES">Accessories</option>
          <option value="EQUIPMENT">Equipment</option>
          <option value="SPARE">Spares</option>
        </select>
      </form>


      <div class="price-select">
        <label>Price from</label>
        <input type="number" [(ngModel)]="filters.priceFrom">
        <label>to</label>
        <input type="number" [(ngModel)]="filters.priceTo">
      </div>

      <form>
        <select [(ngModel)]="filters.productType" (change)="loadManufacturers()" name="type" class="form-select">
          <option *ngFor="let type of productTypes" value="{{type}}">{{type}}</option>
        </select>
      </form>


      <select [(ngModel)]="filters.manufacturer" name="brand" class="form-select">
        <option *ngFor="let manufacturer of manufacturers" value="{{manufacturer}}">{{manufacturer}}</option>
      </select>

      <div>
        <input [(ngModel)]="filters.isInStock" type="checkbox">
        <label>In stock</label>
        <input [(ngModel)]="filters.isHaveDiscount" type="checkbox">
        <label>Discount</label>
      </div>

      <div>
        <button class="btn btn-choose" (click)="loadProductsWithFilters()">CHOOSE</button>
      </div>
    </div>

    <div class="container bars-categories">
      <div class="row">
        <div (click)="changeProductGroup('BICYCLES')" [ngClass]="{'select-item-type': selectedItem.get('BICYCLES')}" class="col-sm">Bicycles</div>
        <div (click)="changeProductGroup('SCOOTERS')" [ngClass]="{'select-item-type': selectedItem.get('SCOOTERS')}" class="col-sm">Scooters</div>
        <div (click)="changeProductGroup('ACCESSORIES')" [ngClass]="{'select-item-type': selectedItem.get('ACCESSORIES')}" class="col-sm">Accessories</div>
        <div (click)="changeProductGroup('EQUIPMENT')" [ngClass]="{'select-item-type': selectedItem.get('EQUIPMENT')}" class="col-sm">Equipment</div>
        <div (click)="changeProductGroup('SPARES')" [ngClass]="{'select-item-type': selectedItem.get('SPARES')}" class="col-sm">Spares</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div *ngFor="let product of products" class="col-lg-2 item-bar">
          <div style="cursor: pointer"
               [routerLink]="['/product_page']"
               [queryParams]="{'productGroup': productGroup, 'type': product.type, 'id': product.id}">
            <img src="{{product.imgAddr}}" class="img-fluid item-image-bar">
            <div class="item-name">{{product.name}}</div>
          </div>
          <div>
            <div *ngIf="product.discount != 0">
              <del class="BSAES-crossed-price">{{product.price}} r.</del>
              <em class="BSAES-discount">discount {{product.discount}}%</em>
            </div>
            <div *ngIf="product.discount === 0" class="BSAES-no-discount"></div>
            <div class="BSAES-price">{{(product.price * (1 - product.discount / 100)).toFixed(0)}} r.</div>
            <img src="assets/images/bicycle_component/buy-button.jpg"
                 class="BSAES-buy-btn"
                 alt="By this bicycle"
                (click)="addItemToProductCart(product, productGroup)">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

