<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <img src="/assets/images/promo.jpg" class="img-fluid">
    </div>

    <div class="col-sm search">
      <select name="Bicycles" class="form-select">
        <option value="Bicycles">Bicycles</option>
        <option value="Scooters">Scooters</option>
        <option value="Accessories">Accessories</option>
        <option value="Equipment">Equipment</option>
        <option value="Spares">Spares</option>
      </select>

      <div class="price-select">
        <label for="">Price from</label>
        <input type="number" class="">
        <label for="">to</label>
        <input type="number" class="">
      </div>

      <select name="type" id="" class="form-select">
        <option value="woman">Woman</option>
        <option value="children">Children</option>
        <option value="road">Road</option>
        <option value="comfort">Comfort</option>
        <option value="gravel">Gravel</option>
      </select>

      <select name="year" id="" class="form-select">
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
      </select>

      <select name="brand" id="" class="form-select">
        <option value="cannondale">Cannondale</option>
        <option value="jamis">Jamis</option>
        <option value="js">JT</option>
        <option value="stels">Stels</option>
        <option value="format">Format</option>
        <option value="forward">Forward</option>
        <option value="welt">Welt</option>
      </select>

      <div>
        <input type="checkbox">
        <label for="">In stock</label>
        <input type="checkbox">
        <label for="">Discount</label>
      </div>

      <div>
        <button class="btn btn-choose">Choose</button>
      </div>
    </div>

    <div class="container bars-categories">
      <div class="row">
        <div class="col-sm">Bicycles</div>
        <div class="col-sm">Scooters</div>
        <div class="col-sm">Accessories</div>
        <div class="col-sm">Equipment</div>
        <div class="col-sm">Spares</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div *ngFor="let item of items" class="col-lg-2 item-bar">
          <img src="{{item.imgAddr}}" class="img-fluid item-image-bar">
          <div class="item-title">{{item.itemName}}</div>
          <div class="item-price"></div>
        </div>
      </div>
    </div>

  </div>
</div>
