select {
  width: 100%;
  max-height: 30px;
  font-size: 12px;
  margin: 5px 5px 5px 5px;
}

input {
  max-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #d4d9df;
  font-size: 12px;
}

label {
  color: grey;
  font-size: 12px;
}

.search {
  margin: 15px 5px 5px 5px;
}

.price-select {
  margin: 5px 5px 5px 5px;
}

.btn-choose {
  background-color: #5abd32;
  border-color: #5abd32;
  border-radius: 5px;
  color: white;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.bars-categories {
  color: #5460a8;
  font-size: 20px;
  cursor: pointer;
  text-underline: #5460a8;
  text-align: center;
}

.item-bar {
  background-color: #fff;
  width: 300px;
  min-height: 200px;
  border: 1px solid #d4d9df;
  border-radius: 20px;
  margin: 10px;
}

.item-bar:hover {
  border: 3px solid #767ab8;
}

.item-image-bar {
  width: 250px;
  height: 166px;
  display: block;
  margin: 10px auto 10px auto;
}

.item-name {
  min-height: 50px;
  text-align: center;
  color: #5460a8;
  font-size: 15px;
  font-weight: 700
}

.item-price {
  color: #5ABD32;
  font-size: 24px;
  margin-left: 10px;
  float: left;
}

@media (min-width: 775px) {
  .select-item-type {
    color: #5ABD32;
    border: 2px solid #5ABD32;
    border-bottom: 0;
    border-radius: 6px 6px 2px 2px;
  }

  .bars-categories {
    border-bottom: 2px solid #5ABD32;
  }
}

@media (max-width: 774px) {
  .select-item-type {
    color: #5ABD32;
    border: 2px solid #5ABD32;
    border-radius: 6px 6px 6px 6px;
  }
}
