<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <h1 class="product-name">{{productTitlePrefix}} {{product.name}}</h1>
      </div>
      <div *ngIf="product.availability" class="product-available">In stock</div>
      <div *ngIf="!product.availability" class="product-not-available">Not available</div>
    </div>
    <div class="col-sm" style="text-align: right; color: #5460a8">
      <img src="assets/images/printer.jpg" class="printer-image">
      Print version
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <img [src]="product.imgAddr"
           (click)="changeImageSize()"
           [ngClass]="{'large-image': isImageLarge}"
           class="product-image img-thumbnail">
    </div>

    <div class="col-sm">
      <hr>
      <div class="row">
        <div class="col-sm">
          <div *ngIf="product.discount != 0">
            <del class="BSAES-crossed-price">{{product.price}} r.</del>
            <em class="BSAES-discount">discount {{product.discount}}%</em>
          </div>
          <div *ngIf="product.discount === 0" class="BSAES-no-discount"></div>
          <div class="product-price">{{(product.price * (1 - product.discount / 100)).toFixed(0)}} r.</div>
          <p style="margin-left: 25px; color: orange">Cash-back 5%</p>
        </div>
        <div class="col-sm">
          <img src="assets/images/bicycle_component/buy-button.jpg"
               class="buy-btn"
               alt="By this product"
               (click)="addProductToShoppingCart(product, productGroup)">
          <p style="color: #5460a8; font-size: 18px; text-align: center; text-decoration-line: underline; text-decoration-style: dotted">By in one click</p>
        </div>
      </div>
      <hr>

      <div *ngIf="product.manufacturer != null">
        <div class="prod-cart-desc-l">Manufacturer:</div>
        <div class="prod-cart-desc-r">{{product.manufacturer}}</div>
      </div>
      <div *ngIf="product.sex != null">
        <div class="prod-cart-desc-l">Sex:</div>
        <div class="prod-cart-desc-r">{{product.sex}}</div>
      </div>
      <div *ngIf="product.weight != null">
        <div class="prod-cart-desc-l">Weight:</div>
        <div class="prod-cart-desc-r">{{product.weight}}</div>
      </div>
      <div *ngIf="product.breakType != null">
        <div class="prod-cart-desc-l">Break type:</div>
        <div class="prod-cart-desc-r">{{product.breakType}}</div>
      </div>
      <div *ngIf="product.numberOfSpeeds != null">
        <div class="prod-cart-desc-l">Number of speeds:</div>
        <div class="prod-cart-desc-r">{{product.numberOfSpeeds}}</div>
      </div>
      <div *ngIf="product.color != null">
        <div class="prod-cart-desc-l">Color:</div>
        <div class="prod-cart-desc-r">{{product.color}}</div>
      </div>
      <div *ngIf="product.material != null">
        <div class="prod-cart-desc-l">Material:</div>
        <div class="prod-cart-desc-r">{{product.material}}</div>
      </div>
    </div>

  </div>

  <div class="tabs">
    <div style="margin: 3px 3px 3px 3px;">Specification</div>
  </div>
  <div class="row content-box">

    <div class="col-sm" style="margin-top: 10px">
      <div *ngIf="product.manufacturer != null">
        <div class="content-box-specification-l">Manufacturer:</div>
        <div class="content-box-specification-r">{{product.manufacturer}}</div>
      </div>
      <div *ngIf="product.frameMaterial != null">
        <div class="content-box-specification-l">Frame material:</div>
        <div class="content-box-specification-r">{{product.frameMaterial}}</div>
      </div>
      <div *ngIf="product.forkType != null">
        <div class="content-box-specification-l">Fork type:</div>
        <div class="content-box-specification-r">{{product.forkType}}</div>
      </div>
      <div *ngIf="product.rimType != null">
        <div class="content-box-specification-l">Rim type:</div>
        <div class="content-box-specification-r">{{product.rimType}}</div>
      </div>
      <div *ngIf="product.breakType != null">
        <div class="content-box-specification-l">Break type:</div>
        <div class="content-box-specification-r">{{product.breakType}}</div>
      </div>
      <div *ngIf="product.numberOfSpeeds != null">
        <div class="content-box-specification-l">Number of speeds:</div>
        <div class="content-box-specification-r">{{product.numberOfSpeeds}}</div>
      </div>
      <div *ngIf="product.weight != null">
        <div class="content-box-specification-l">Weight:</div>
        <div class="content-box-specification-r">{{product.weight}}</div>
      </div>
      <div *ngIf="product.wheelDiameter != null">
        <div class="content-box-specification-l">Wheel diameter:</div>
        <div class="content-box-specification-r">{{product.wheelDiameter}}</div>
      </div>
      <div *ngIf="product.material != null">
        <div class="content-box-specification-l">Material:</div>
        <div class="content-box-specification-r">{{product.material}}</div>
      </div>
      <div *ngIf="product.developmentCountry != null">
        <div class="content-box-specification-l">Development country:</div>
        <div class="content-box-specification-r">{{product.developmentCountry}}</div>
      </div>
      <div *ngIf="product.manufacturerCountry != null">
        <div class="content-box-specification-l">Manufacturer country:</div>
        <div class="content-box-specification-r">{{product.manufacturerCountry}}</div>
      </div>
      <div *ngIf="product.color != null">
        <div class="content-box-specification-l">Color:</div>
        <div class="content-box-specification-r">{{product.color}}</div>
      </div>
      <div *ngIf="product.size != null">
        <div class="content-box-specification-l">Size:</div>
        <div class="content-box-specification-r">{{product.size}}</div>
      </div>
      <div *ngIf="product.features != null">
        <div class="content-box-specification-l">Features:</div>
        <div class="content-box-specification-r">{{product.features}}</div>
      </div>
      <div *ngIf="product.volume != null">
        <div class="content-box-specification-l">volume:</div>
        <div class="content-box-specification-r">{{product.volume}}</div>
      </div>


      <div *ngIf="product.sex != null">
        <div class="content-box-specification-l">Sex:</div>
        <div class="content-box-specification-r">{{product.sex}}</div>
      </div>
    </div>

    <div class="col-sm" style="margin-top: 10px">
      <div *ngIf="product.level != null">
        <p style="text-align: center; color: #383f4b; font-weight: 500">Equipment level (from 1 to 8):</p>
        <angular-gradient-progressbar
          [type]="1"
          [progressBarWidth]="5"
          [barCount] ="8"
          [value]="product.level * 100 / 8"
        ></angular-gradient-progressbar>
      </div>
      <div *ngIf="product.description != null" class="product-description">{{product.description}}</div>
    </div>

  </div>
</div>
