<div class="container">
  <h1>Bicycle delivery over the World!</h1>
  <div class="row">
    <div class="col-sm div-align-center">
      <div>
        <p>Question about delivery You can asks by short phone</p>
        <span>999111555777666321</span>
        <p>Free call for all!</p>
        <p>Mon-Sat: 9.00-21.00, Sun: 9.00-20.00</p>
      </div>
    </div>
    <div class="col-sm">
      <img src="/assets/images/delivery_assembling.jpg" class="img-delivery-assembling img-fluid">
    </div>
  </div>
  <div class="col-sm">
    <img src="/assets/images/delivery_over_the_world.jpg" class="img-delivery-over-the-world img-fluid">
  </div>

  <h2>The delivery process consists of several stages:</h2>
  <div class="col-sm">
    <img src="/assets/images/delivery_stages.jpg" class="img-delivery-stages img-fluid">
  </div>

  <ol>
    <li>To place an order, you need to place an order through the site: put the goods in the basket on the site, then place an order.</li>
    <li>Then you need to pay for the order.</li>
    <li>Sending the order occurs after payment.</li>
    <li>Delivery is carried out by transport companies involved in the shipment of goods with which we work: Energia,
      Baikal Service, Business Lines, ZheldorEkspeditsiya, PEK, Vozovoz, GTD, Steil and others.</li>
    <li>Receiving takes place at the branch of the transport company in your city. When an order arrives at the destination,
      the employees of the transport company of your city will notify you by phone. Receipt takes place according to the passport.</li>
  </ol>

</div>
